.breakfast {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;

    color: $accent-color;

    background-image: url(../img/bg-breakfast.jpg);
    background-position: center -150px;
    background-repeat: no-repeat;
    background-size: cover;
    @media (device-pixel-ratio: 2) {
        background-image: url(../img/bg-breakfast@2x.jpg);
    }
    @media (max-width: 1140px) {
        background-position: center center;
    }



    .wrapper {
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @media (max-width: 1110px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        margin-left: 16%;

        @media (max-width: 1110px) {
            margin-left: 0;
        }
    }

    &__title {
        margin: 80px 0 0;

        font-family: 'Alegreya', sans-serif;
        font-size: 60px;
        letter-spacing: 3px;
        font-weight: bold;
        font-style: normal;
    }

    &__subtitle {
        font-family: 'Alegreya', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: 0.9px;
        color: $breakfast-color;
        text-transform: uppercase;
    }

    &__list {
        margin: 60px 0 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 60px;
        position: relative;

        text-align: center;

        &:not(:last-child)::after {
            content: '';

            width: 91px;
            height: 27px;

            position: absolute;
            bottom: -45px;
            left: 50%;
            transform: translateX(-50%);
            background-image: url(../img/dilimeter.png);
        }
    }

    &__name {
        margin: 0 0 10px;

        font-family: 'Alegreya', sans-serif;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    &__description {
        display: block;
        margin-bottom: 20px;

        font-family: 'ProximaNova', sans-serif;
        font-size: 16px;
        color: #c2beba;
    }

    &__price {
        display: block;

        font-family: 'Alegreya', sans-serif;
        font-size: 36px;
        color: #dfc691;;
    }

    &__right {
        margin: 80px 0 0;
        margin-right: 26px;
        position: relative;
    }

    &-cart {
        padding: 10px;

        position: relative;

        background-color: $background-color;
        color: $main-color;

        box-sizing: border-box;
        box-shadow: 10px 0px 30px 0px rgba(0,0,0,1);
        z-index: 3;

        &::after {
            content: '';

            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);

            width: 367px;
            height: 60px;

            background-image: url(../img/line.svg), url(../img/line-inner.png);
            background-repeat: no-repeat, no-repeat;
            background-position: center center, center center;

            @media (max-width: 570px) {
                display: none;
            }
        }

        &__inner {
            max-width: 440px;
            padding: 0 50px;

            position: relative;

            background-image: url(../img/tangle-decoration.svg);
            background-repeat: no-repeat;
            background-position: 280px 450px;

            border: 2px dashed #9e9c93;
            box-sizing: border-box;

            @media (max-width: 570px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &__label {
            display: flex;
            justify-content: space-around;
            margin-top: 40px;

            font-family: 'Alegreya', sans-serif;
            font-size: 14px;
            font-weight: bold;

            @media (max-width: 570px) {
                font-size: 12px;
            }
        }

        &__title {
            margin-top: 130px;

            font-family: 'Alegreya', sans-serif;
            font-size: 44px;
            font-weight: bold;
            line-height: 1.36;
            letter-spacing: 1.1px;
            text-align: center;

            @media (max-width: 570px) {
                margin-top: 20px;
                font-size: 30px;
            }
        }

        &__info {
            font-family: 'ProximaNova', sans-serif;
            font-size: 14px;
            text-align: center;

            @media (max-width: 570px) {
                font-size: 12px;
            }
        }

        &__button {
            display: block;
            padding: 19px 70px;
            margin: 50px auto;

            font-family: 'Alegreya', sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 1;
            background-color: transparent;
            text-transform: uppercase;
            color: $third-color;

            border: solid 1px #9e9c93;

            @media (max-width: 570px) {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 14px;
            }
        }
    }

    &-cart-clone {
        width: 50px;
        padding: 10px;

        position: absolute;

        box-sizing: border-box;
        box-shadow: 0px 0px 25px 5px rgba(0,0,0,1);
    }

    .clone-first {
        height: 90%;

        top: 5%;
        right: -13px;

        background-color: darken($background-color, 10%);

        z-index: 2;

        & > div {
            height: 100%;
            width: 100%;
            border: 2px dashed darken(#9e9c93, 10%);
        }
    }

    .clone-second {
        height: 80%;
        top: 10%;
        right: -26px;

        background-color: darken($background-color, 20%);

        z-index: 1;

        & > div {
            height: 100%;
            width: 100%;
            border: 2px dashed darken(#9e9c93, 20%);
        }
    }

}