.title {
    margin: 0;

    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.44;
    text-align: center;
    letter-spacing: 1.2px;
    color: $main-color;
}

.subtitle {
    margin: 0;

    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1.4px;
    text-align: center;
    color: $third-color;
    text-transform: uppercase;
}