@mixin font-face($family, $style, $weight...) {

    $name: null;

    @each $w in $weight {

        @if $w == 100 {
            $name: "Thin"
        } @else if $w == 200 {
            $name: "-200"
        } @else if $w == 300 {
            $name: "Light"
        } @else if $w == 400 {
            $name: "Regular"
        } @else if $w == 500 {
            $name: "Medium"
        } @else if $w == 600 {
            $name: "-600"
        } @else if $w == 700 {
            $name: "Bold"
        } @else if $w == 800 {
            $name: "-800"
        } @else if $w == 900 {
            $name: "Black"
        }

        @font-face {

            font-family: $family;
            font-weight: $w;
            font-style: $style;
            src: local("#{$family + $name}"), url("../fonts/#{$family + "-" + $w}.woff2") format("woff2"), url("../fonts/#{$family + "-" + $w}.woff") format("woff");

        }
    }

}