.main-footer {
    padding-bottom: 70px;

    background-color: $background-color;

    @media (max-width: 1080px) {
        padding-top: 80px;
    }

    .logo {
        color: $main-color;
        line-height: 2;

        @media (max-width: 1200px) {
            margin: 40px 0;
        }
    }

    .wrapper {
        @media (max-width: 510px) {
            padding: 0 35px;
        }
    }
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-shrink: 0;
        max-width: 437px;
        width: 100%;
        padding: 0;
        margin: 0;

        position: relative;

        list-style: none;

        box-shadow: 0px 0px 99px 20px rgba(86, 83, 76, 0.28), inset 0px 0px 300px 10px rgba(86, 83, 76, 0.12);

        @media (max-width: 510px) {
            font-size: 12px;
        }
        
        &::before {
            content: '';

            height: 1px;
            
            position: absolute;
            top: -30px;
            left: -35px;
            right: -35px;

            background-color: #c2beba;
        }
        
        &::after {
            content: '';

            height: 1px;

            position: absolute;
            bottom: -30px;
            left: -35px;
            right: -35px;

            background-color: #c2beba;
        }
    }

    li {
        &::after {
            content: "~";

            margin-left: 33px;

            position: absolute;

            color: $main-color;

            @media screen and (max-width: 1170px) {
                display: none;
            }
        }

        &:last-child::after {
            display: none;
        }
    }

    &__item {
        color: $main-color;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4.2px;

        &:hover {
            color: lighten($main-color, 20%);
        }

        &:active {
            color: lighten($main-color, 30%);
        }
    }
}