.main-header {

    padding: 0 60px;

    position: relative;

    background-color: rgba(86, 83, 76, .5);

    z-index: 100;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1260px;
        min-height: 70px;
        margin: 0 auto;
    }

    &__show-menu {
        display: none;
        width: 95px;
        height: 30px;
        border: none;

        position: relative;

        background-color: transparent;

        cursor: pointer;

        &:hover::before {
            box-shadow: 30px 0px 0px 0px darken($accent-color, 20%), 60px 0px 0px 0px darken($accent-color, 20%);
            background-color: darken($accent-color, 20%);

            @media screen and (max-width: 420px) {
                box-shadow: 20px 0px 0px 0px darken($accent-color, 20%), 40px 0px 0px 0px darken($accent-color, 20%);
            }
        }

        &:active::before {
            box-shadow: 30px 0px 0px 0px darken($accent-color, 30%), 60px 0px 0px 0px darken($accent-color, 30%);
            background-color: darken($accent-color, 20%);

            @media screen and (max-width: 420px) {
                box-shadow: 20px 0px 0px 0px darken($accent-color, 30%), 40px 0px 0px 0px darken($accent-color, 30%);
            }
        }

        &::before {
            content: "";

            width: 10px;
            height: 10px;
            border-radius: 50%;

            position: absolute;
            left: 14px;
            top: 10px;

            box-shadow: 30px 0px 0px 0px $accent-color, 60px 0px 0px 0px $accent-color;

            background-color: $accent-color;

            @media screen and (max-width: 420px) {
                width: 8px;
                height: 8px;

                top: 12px;

                box-shadow: 20px 0px 0px 0px $accent-color, 40px 0px 0px 0px $accent-color;
            }
        }

        @media screen and (max-width: 980px) {
            display: block;
        }
    }

    @media screen and (max-width: 530px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo {
    margin-top: -15px;

    font-family: "Scriptina", sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 70px;
    letter-spacing: 9px;
    color: $accent-color;

    user-select: none;

    @media screen and (max-width: 530px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.main-navigation {

    width: 100%;
    max-width: 770px;
    padding: 0 30px;

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;

    }

    li {
        &::after {
            content: "~";

            margin-left: 33px;

            position: absolute;

            color: $accent-color;

            @media screen and (max-width: 1170px) {
                display: none;
            }
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        color: $accent-color;
        text-decoration: none;
        letter-spacing: 4.2px;

        &:hover {
            color: darken($accent-color, 20%);
        }

        &:active {
            color: darken($accent-color, 30%);
        }
    }

    &__close-menu {
        display: none;
    }

    @media screen and (max-width: 980px) {
        display: none;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 95px;
    margin: 0;
    padding: 0;

    list-style: none;

    @media screen and (max-width: 530px) {
        flex-shrink: 1;
    }
}

.main-navigation_mobile {
    padding-bottom: 120px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(86, 83, 76, 1);

    border-radius: 0px 0px 200px 200px;

    box-shadow: 0px 0px 70px 10px rgba(0,0,0,1);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .main-navigation__link {
        display: block;
        padding: 10px 20px;
    }

    .main-navigation__close-menu {
        display: block;
        width: calc(100% - 20px);
        padding: 5px 0;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;

        background-color: transparent;
        color: $accent-color;
        letter-spacing: 4px;

        border: 1px dashed $accent-color;

        cursor: pointer;
    }
}