.sandwich {
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: $background-color;
    background-image: url(../img/top-decoration.png);
    background-position: center top;
    background-repeat: no-repeat;

    &__inner {
        @include row-flex();
        justify-content: space-between;
        align-items: center;
        @media (max-width: 1080px) {
            justify-content: center;
        }
    }
}

.ingredients-list {
    padding: 0;
    margin: 0;
    list-style: none;

    @include col();
    @include size(3);
    @include size-md(8);

    @media (max-width: 1080px) {
        margin-bottom: 80px;
        margin-top: 50px;
    }
}

.ingredients-item {
    text-align: center;

    &__image {
        max-width: none;
    }

    &__outer-image {
        height: 100px;
        width: 100px;
        margin: 0 auto;

        border-radius: 50%;

        overflow: hidden;
    }

    &__name {
        font-family: 'Alegreya', sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: $third-color;
    }

    &__info {
        font-family: 'ProximaNova', sans-serif;
        font-size: 14px;
        letter-spacing: 1.4px;
    }
}

.recipe {
    position: relative;

    border: 10px solid #ffffff;

    @include col();
    @include size(8);
    @include size-sm(12);

    &__photo {
        display: block;
    }

    &__link {
        display: block;
        padding: 24px 28px;

        position: absolute;
        bottom: -24px;
        left: -28px;

        background-color: $accent-color;
        font-family: 'Alegreya', sans-serif;
        font-size: 18px;
        line-height: 1;
        font-weight: bold;
        color: #dfc691;
        text-transform: uppercase;
        text-decoration: none;

        border: 2px dashed #dfc691;

        &:hover, &:focus {
            border-style: solid;
        }

        &:active {
            color: darken(#dfc691, 10%);
            border-color: darken(#dfc691, 10%);
        }

    }
}

.time-outer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

